/* Base styling for the page */
body {
    font-family:        Arial, sans-serif;
    margin:             0;
    padding:            0;
    display:            flex;
    justify-content:    center;
    align-items:        center;
    height:             100vh;
    background-color:   #f4f4f4;
  }

/* Title styling */
h1 {
    text-align:     center;
    margin-top:     20px;
    margin-bottom:  20px;
}

/* UI styling */
#start-button {
  position:   absolute;
  top:        50%;
  left:       50%;
  transform:  translate(-50%, -50%);
  padding:    10px 20px;
  font-size:  16px;
  cursor:     pointer;
}

#actions-button {
  position:   absolute;
  bottom:     5%;
  left:       40%;
  transform:  translate(-50%, -50%);
  padding:    10px 20px;
  font-size:  16px;
  cursor:     pointer;
}

#end-turn-button {
  position:   absolute;
  bottom:     5%;
  right:      40%;
  transform:  translate(-50%, -50%);
  padding:    10px 20px;
  font-size:  16px;
  cursor:     pointer;
}


#player-health {
position:           absolute;
  top:              10px;
  right:            10px;
  font-size:        18px;
  font-weight:      bold;
  color:            white;
  background-color: #333;
  padding:          5px 10px;
  border-radius:    5px;
}

/* Dev tools */
#dmg-button {
  position:   absolute;
  top:        5%;
  left:       10%;
  transform:  translate(-50%, -50%);
  padding:    10px 20px;
  font-size:  16px;
  cursor:     pointer;
}

#heal-button {
  position:   absolute;
  top:        5%;
  left:       25%;
  transform:  translate(-50%, -50%);
  padding:    10px 20px;
  font-size:  16px;
  cursor:     pointer;
}

/* Lawn styling */
#lawn {
  display:                grid;
  grid-template-rows:     repeat(3, minmax(15vh, 1fr)); /* Adjusts height based on viewport */
  grid-template-columns:  repeat(8, minmax(8vw, 1fr));  /* Adjusts width based on viewport */
  background-color:       #7cfc00;
  border:                 3px solid #333;
  width:                  90vw;
  height:                 70vh;
  max-width:              100%;
  margin:                 auto;
}

.tile {
  width:            100%;
  height:           100%;
  background-color: #a2d149;
  position:         relative;   /* Allows layering of objects */
}

  /* Checkerboard pattern */
  .tile[data-lane="T"]:nth-child(odd),
  .tile[data-lane="C"]:nth-child(even),
  .tile[data-lane="B"]:nth-child(odd){
    background-color: #6cd56c;
  }

  .tile[data-lane="T"]:nth-child(even),
  .tile[data-lane="C"]:nth-child(odd),
  .tile[data-lane="B"]:nth-child(even){
    background-color: #50b450;
  }

/* Zombie styling */
.player {
  width:                100%;
  height:               100%;
  /*background-image defined within .js*/
  background-size:      contain;
  background-repeat:    no-repeat;
  background-position:  center;
  margin:               auto;
  position:             relative;
}

.spawnling {
  width:                100%;
  height:               100%;
  /*background-image defined within .js*/
  background-size:      contain;
  background-repeat:    no-repeat;
  background-position:  center;
  margin:               auto;
  position:             relative;
}

/* Plant styling */

.plant {
  width:                100%;
  height:               100%;
  /* background-image defined within .js */
  background-size:      contain;
  background-repeat:    no-repeat;
  background-position:  center bottom;
  margin:               auto;
  position:             relative;
}